<section class="thirteen columns">
    <h1>Experiences</h1>
    <article>
        <header>
            <h1>Team Lead and Backend Programmer</h1>
            <span><address>Oulu, Finland</address><time>Jan 2019 - March 2019</time></span>
        </header>
        <p> We team of three made an web application for Gym owners. I was team lead and back end programmer. </p>
    </article>
    <article>
        <header>
            <h1>Thesis: General Machine Learning Practices using Python</h1>
            <span><address>Oulu, Finland</address><time>March 2019 - May 2019</time></span>
        </header>
        <p>Its a simple how to guide for novice Machine Learning enthusiast. Theory and coding sectoins introduce several aspects of 
            Supervised ML.
        </p>
    </article>
    <article>
        <header>
            <h1>Teacher</h1>
            <span><address>Viddya Bikash English Boarding School, Chitwan, Nepal</address><time>2013 - 2015</time></span>
        </header>
        <p>I was a highschool science teacher.</p>
    </article>
    
</section>
